<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css') }}">
    <title>Edit a routine</title>
</head>
<body>  
        <nav>
        <h1> Home Gym Hero Database </h1>
            <ul>
            <li><a href="{{ url_for('root')  }}">Home</a></li>
            <li><a href="{{ url_for('users') }}">Users</a></li>
            <li><a href="{{ url_for('favorite') }}">User Favorite Routine Logs</a></li>
            <li><a href="{{ url_for('routines') }}">Routines</a></li>
            <li><a href="{{ url_for('categories') }}">Routine Categories</a></li>
            <li><a href="{{ url_for('equipment') }}">Equipment</a></li>
            </ul>
        </nav>

<div class="space"></div>
    <legend><strong>Edit routine</strong></legend>
	<fieldset class="fieldset">
    <form id="editRoutine" action="/edit_routine/{{data[0].routine_id}}" method="POST">
        <div class="form">
				<input type="hidden" value="{{data[0].routine_id}}" class="form-control" id="routineID" name="routineID" required>
				ID: {{data[0].routine_id}}
            </div>
        <div class="form">
            <label for="routine">Enter routine name:</label>
            <input type="text" value="{{data[0].routine_name}}" id="routine" name="routine" required>
        </div>
        <div class="form">
                <label for="description">Description:</label>
                <input type="description" value="{{data[0].description}}"  id="description" name="description" required>
        </div>
        <div class="form">
                <label for="duration">Duration:</label>
                <input type="duration" value="{{data[0].Duration}}" id="duration" name="duration" required>
        </div>
        <div class="form">
                <label for="video">Video Link:</label>
                <input type="video" value="{{data[0].video_link}}" id="video" name="video" required>
        </div>
        <div class="form">
            <label for="equipment">Select Equipment:</label>
            <select id="equipment" name="equipment">
            <option value="">None</option>
                {% for equipment in equipments %}
                    <option value="{{ equipment.get( 'ID' ) }}">{{ equipment.get( 'equipment_name' ) }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form">
            <label for="category">Select Category:</label>
            <select id="category" name="category">
                {% for category in categories %}
                    <option value="{{ category.get( 'ID' ) }}">{{ category.get('routine_category_name') }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" value="Edit_Routine" name="Edit_Routine" class="button">Save</button>